{% extends "base.html" %}
{% load static %}
{% block content %} 

<a href="{% url 'rdo:bm_list'  %}">voltar</a>

    <h1>{{ object }}
        <span class="pull-right">
          <div style="display: flex;">
            <a href="{% url 'rdo:bm_update' object.pk %}">
                <button type="button" class="btn btn-primary">
                    <span class="fa fa-pencil"></span> Editar
                </button>
            </a>
            <a href="{% url 'rdo:export_csv' object.pk %}">
              <button type="button" class="btn btn-success">
                   export_csv
              </button>
            </a>
          </div>
          </span>
        </h1>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-user-information">
            <tbody>
                <tr>
                  <th class="text-right">Período</th>
                  <td>{{ object.periodo }}</td>
                </tr>
                <tr>
                    <th class="text-right">Data Aprovação</th>
                    <td>{{ object.data_aprov }}</td>
                </tr>
                <tr>
                    <th class="text-right">Aprovador</th>
                    <td>{{ object.aprovador }}</td>
                </tr>
                <tr>
                    <th class="text-right">Valor</th>
                    <td>R$ {{ object.valor }}</td>
                </tr>
                <tr>
                    <th class="text-right">Status</th>
                    <td>{{ object.status }}</td>
                </tr>
                <tr>
                  <th class="text-right">Valor total</th>
                  <td>{{ object.valor | floatformat:3}}</td>
                </tr>
                <tr>
                  <th class="text-right">DMS</th>
                  <td>{{ object.d_numero }}</td>
                </tr>
                <tr>
                  <th class="text-right">BMS</th>
                  <td>{{ object.b_numero }}</td>
                </tr>
                <tr>
                  <th class="text-right">FRS</th>
                  <td>{{ object.frs }}</td>
                </tr>
                <tr>
                    <th class="text-right">Obs</th>
                    <td>{{ object.follow_up }}</td>
                </tr>
                
            </tbody>
        </table>
    </div>

</div>
<!--modal-->
<form method="POST" novalidate>
  {% csrf_token %}
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Rdo's</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            <div class="modal-body">
                <div x-data="getData">
                  
                    <h2></h2>
                
                    <form @submit.prevent="saveData">
                
                    <!-- busca rdo -->
                    <label for="">Filtros</label>
                    <div class="form-group row autocomplete">
                  
                        <div class="col-sm-2">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Unidade"
                            x-model="searchUnidade"
                          >
                        </div>
                        <div class="col-sm-2">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Solicitante"
                            x-model="searchSolicitante"
                          >
                        </div>
                        <div class="col-sm-2">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Projeto"
                            x-model="searchProjeto"
                          >
                        </div>

                        <div class="col-sm-6">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Escopo"
                            x-model="searchEscopo"
                          >                        
                        </div>
                      
                        <div class="col-sm-12">
                            <table
            
                            x-show="rdosShow"
                            class="table table-striped"
                          >
                          <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Unidade</th>
                                <th>solicitante</th>
                                <th>Projeto</th>
                                <th>Escopo</th>
                                <th><i class="fa fa-check-circle"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <template
                              x-for="item in rdos"
                              :key="item.rdo"
                            >
                              <tr>
                              <td x-text="item.rdo"></td>
                              <td x-text="item.unidade.area"></td>
                              <td x-text="item.solicitante.solicitante"></td>
                              <td x-text="item.projeto_cod.projeto_nome"></td>
                              <td x-text="item.escopo"></td>
                              <td>
                              <input type="checkbox" class="addclassitem" @click="item.isChecked = !item.isChecked" x-bind:value="item.isChecked ? item.rdo : 'null'" /> 
                            </td>
                                  
                            </label>
                          </li></td>
                            </tr>
                            </template>
                        </tbody>
                        </table>
                        <input hidden name="valores" id="valores">
                        </div>
                      <!-- <p x-text="searchCliente"></p> -->
                      </div>
                    </div>    
                     
            </div>
            <div class="modal-footer">
    
              <button type="submit" class="btn btn-primary float-right" style="margin: 6px;"><i class="fa fa-plus"></i>Adicionar</button>
            </div>
        
      </div>
    </div>
  </div>
</form>
<!-- end modal-->

    
    
    <div class="accordion " id="accordionExample">
        <div class="card ">
          <div class="card-header " id="headingOne">
            <h5 class="mb-0 ">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Itens Boletim de Medição
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse"  aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-striped w-100">
                    <thead>
                        <tr>
                            <th>item</th>
                            <th>descricao</th>
                            <th>und</th>
                            <th>preco</th>
                            <th>qtd</th>
                            <th>total</th>
                            
                          
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in item %}
                        <tr>
                                <td>{{ obj.valor__item_ref }}</td>
                                <td>{{ obj.valor__descricao }}</td>
                                <td>{{ obj.valor__und }}</td>
                                <td>{{ obj.valor__preco_item }}</td>
                                <td>{{ obj.qtd__sum | floatformat:3 }}</td>
                                <td>{{ obj.total__sum | floatformat:3 }}</td>
                                
                        </tr>
                        {% endfor %}
                    </tbody>
                
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                RDO's <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-plus"></i> </button>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nº RDO</th>
                            <th>Data</th>
                            <th>Área</th>
                            <th>Solicitante</th>
                            <th>Tipo</th>
                            <th>Remover</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in object.bms.all %}
                        <tr>
                            <td><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></td>
                                <td>{{ obj.data_periodo }}</td>
                                <td>{{ obj.unidade }}</td>
                                <td>{{ obj.solicitante }}</td>
                                <td>{{ obj.tipo }}</td>
                                <td><a href="{% url 'rdo:bm_delete' object.pk obj.pk %}"><i class="fa fa-times-circle no"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                
                </table>
              </div>
            </div>
          </div>
        </div>
   
      </div>


{% endblock content %} 

{% block js %}
<script
    src="{% static 'js/servico.js' %}"
    data-csrf="{{ csrf_token }}"
  ></script>

  <script>
        $(document).on('change', '.addclassitem', function(){
            var txt = "";
            $('.addclassitem').each(function(){
                txt += $(this).val()+"," ;
                txt = txt.replace('.','')
                 });
            $('#valores').val(txt);
        });

  </script>
{% endblock js %}