{% extends "base.html" %}

{% block content %} 
            <div class="btn-group btn-group-toggle" style="margin-bottom: 10px;">
            <form action="." method="GET" >
                <input hidden type="text" id="dms_null" name="dms_null" value="dms_null">
              <input type="submit" value="Sem DMS" class="btn btn-secondary">
            </form>
            <form action="." method="GET" >
                <input hidden type="text" id="bms_null" name="bms_null" value="bms_null">
              <input type="submit" value="Sem filtros" class="btn btn-secondary">
            </form>
            </div>

        <h2><i class="fa fa-user"></i> Medições
            <span class="pull-right">
                <div style="display: flex;">
                <a href="{% url 'rdo:bm_create' %}">
                    <button type="button" class="btn btn-primary">
                        <span class="fa fa-plus"></span>Adicionar
                    </button>                    
                </a>
                <a href="{% url 'rdo:export_xlsx_func_bmf' %}">
                    <button type="button" class="btn btn-info">
                        <span class="fa fa-plus"></span>Exportar BMF
                    </button>
                </a>
                </div>
            </span>
        </h2>

        {% if objects_list %}
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nº BM</th>
                    <th>Unidade</th>
                    <th>Aprovador</th>
                    <th>DMS</th>
                    <th class="text-center">Valor</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                {% for object in objects_list %}
                <tr>
                    <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                    <td>{{ object.unidade }}</td>
                    <td>{{ object.d_aprovador }}</td>
                    <td>{{ object.d_numero }}</td>
                    <td class="text-center">{{ object.valor }}</td>
                    
                   
                </tr>
                 
                {% endfor %}
            </tbody>
        </table>
    </div>
        {% else %}
        <p class="alert alert-warning">Sem Itens na Lista </p>
        {% endif %}
    </div>

    {% include "includes/pagination.html" %}

{% endblock content %} 