{% extends "base.html" %}
{% load l10n %}
{% block content %} 


    <div class="page-header">
        <h2><i class="fa fa-user"></i> RDO's
            <span class="pull-right">
                <div style="display: flex;">
                <a href="{% url 'rdo:rdo_create' %}">
                    <button type="button" class="btn btn-primary">
                        <span class="fa fa-plus"></span>Adicionar
                    </button>                    
                </a>
                </div>
            </span>
        </h2>

        {% if objects_list %}
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nº RDO</th>
                    <th>Data</th>
                    <th>UND</th>
                    <th>Solicitante</th>
                    <th>Tipo</th>
                    <th class="text-center">Disciplina</th>
                    <th class="text-center">BM</th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects_list %}
                <tr>
                    <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                    <td>{{ object.get_data }}</td>
                    <td>{{ object.unidade }}</td>
                    <td>{{ object.solicitante }}</td>
                    <td>{{ object.tipo }}</td>
                    <!--<td>R$ {{ object.valor | floatformat:3 }}</td>-->
                    <td class="text-center">{{ object.disciplina }}</td>
                    <td class="text-center">{{ object.bm }}</td>
                </tr>
                 
                {% endfor %}
            </tbody>
        </table>
        </div>
        {% else %}
        <p class="alert alert-warning">Sem Itens na Lista </p>
        {% endif %}
    </div>

    {% include "includes/pagination.html" %}

{% endblock content %} 
