body {  margin-top: 80px;
    }
.ok {color: green;}
.no {color: red;}
span.required:after {
    content:"*";
    color: red;
}

.fundo{
        background: url('background.png');
        background-repeat: no-repeat;
        background-origin: content-box;
        background-size: cover;
        font-family: Arial, Helvetica, sans-serif;
        height: 100vh;
      
}

