{% extends "base.html" %}

{% block content %} 
{% include "includes/nav_jetflow.html" %} 
    <div class="page-header">
        <h2><i class="fa fa-user"></i> Romaneios
            <span class="pull-right">
                <div style="display: flex;">
                <a href="{% url 'romaneio:romaneios_add' %}">
                    <button type="button" class="btn btn-primary">
                        <span class="fa fa-plus"></span>Adicionar
                    </button>                    
                </a>
                <a href="{% url 'romaneio:export_xlsx_func' %}">
                    <button type="button" class="btn btn-info">
                        <span class="fa fa-plus"></span>Exportar dados
                    </button>
                </a>
                </div>
            </span>
        </h2>

        {% if objects_list %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nº Romaneio</th>
                    <th>Data Entrada</th>
                    <th>Documento Referência</th>
                    <th>Obs</th>
		    <th>Área</th>
                    <th class="text-center">Solicitante</th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects_list %}
                <tr>
                    <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                    <td>{{ object.get_entrada }}</td>
                    <td>{{ object.documento }}</td>
                    <td>{{ object.obs }}
                    <td>{{ object.area }}</td>
                    <td>{{ object.solicitante }}</td>
                </tr>
                 
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="alert alert-warning">Sem Itens na Lista </p>
        {% endif %}
    </div>

    {% include "includes/pagination.html" %}

{% endblock content %} 
