{% extends "base.html" %}

{% block content %} 
<a href="{% url 'romaneio:romaneio_list'  %}">voltar</a>

    <h1>Romaneio Nº {{ object }}
        <span class="pull-right">
            <a href="{% url 'romaneio:romaneio_edit' object.pk %}">
                <button type="button" class="btn btn-success">
                    <span class="fa fa-pencil"></span> Editar
                </button>
            </a>

        </span>
    </h1>

    <div class="col-sm-6">
        <table class="table table-user-information">
            <tbody>
                <tr>
                    <th class="text-right">Data Entrada:</th>
                    <td>
                        {{ object.entrada }}
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Documento Referência</th>
                    <td>{{ object.documento }}</td>
                </tr>
                <tr>
                    <th class="text-right">Área</th>
                    <td> {{ object.area }}</td>
                </tr>
                <tr>
                    <th class="text-right">Solicitante</th>
                    <td>{{ object.solicitante }}</td>
                </tr>
                <tr>
                    <th class="text-right">Nota fiscal</th>
                    <td>{{ object.nf }}</td>
                </tr>
                <tr>
                    <th class="text-right">Observações</th>
                    <td>{{ object.obs }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tratamento</th>
                <th>TF</th>
                <th>TI</th>
                <th>TA</th>
                <th>Tipo Mat.</th>
                <th>M²</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object.romaneios.all %}
            <tr>
                <td>{{ obj.jato }}</td>
                <td>{{ obj.tf }}</td>
                <td>{{ obj.ti }}</td>
                <td>{{ obj.ta}}</td>
                <td><a href="{{ obj.get_absolute_url }}">{{ obj.material }}</a></td>
                <td>{{ obj.m2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    
    </table>

{% endblock content %} 