<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://www.djangoproject.com/favicon.ico">
    <title>Jet Flow</title>
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{% static 'css/bootstrap_modified.css' %}">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- selec2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script defer src="//unpkg.com/alpinejs" defer></script>
    {% block css %}   {% endblock css %} 
  </head>
  <body>
	<div class="container">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top navbar-person">
        <a class="navbar-brand" href="/"><img src="/media/logobrancomonsertec.png" alt="lgo" height="25px" style="padding-bottom: 6px;margin: 0px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
      </ul>
            {% if user.is_authenticated %}
            <form action="." method="GET" class="form-inline">
                <input type="text" id="q" name="q" value="{{ request.GET.q }}" class="form-control" placeholder="Busca">
                <input type="submit" class="btn btn-secondary" style="margin-left: 10px;" value="OK">
              </form>
                <ul class="navbar-nav px3">
                        <li class="nav-item">
                        <a href="#"  class="nav-link">Usuario: {{ user.username }} </a>
                        </li>
                </ul>
            {% endif %}
        </div>
    </nav>
      <!--msb: main sidebar-->
            {% if user.is_authenticated %}
      <div class="msb text-light" id="msb" style="margin-top: 50px;">
              <nav class="navbar navbar-default" role="navigation">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                      <div class="brand-wrapper">
                          <!-- Brand -->
                          <div class="brand-name-wrapper">
                              <a class="navbar-brand" href="#" style="width: 100%;">
                                  Menu<i id="msbo" class="fa fa-solid fa-bars pull-right" style="margin-top: 5px;"></i>
                              </a>
                          </div>
      
                      </div>
      
                  </div>
      
                  <!-- Main Menu -->
                  <div class="side-menu-container" style="width: 100%;">
                      <ul class="nav navbar-nav">
                        <!-- Dropdown-->
                        <li  id="dropdown0">
                            <a data-toggle="collapse" href="#dropdown-lvl0">
                                <i class="fa fa-puzzle-piece"></i>Cadastros
                              <span class="caret"></span>
                          </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-lvl0" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="{% url 'romaneio:area_add' %}"><i class="fa fa-chevron-right"></i>Área/Unidade</a></li>
                                        <li><a href="{% url 'romaneio:solicitante_add' %}"><i class="fa fa-chevron-right"></i>Solicitante</a></li>
                                        <li><a href="{% url 'material:tratamento_add' %}"><i class="fa fa-chevron-right"></i>Tratamento</a></li>
                                        <li><a href="{% url 'material:tintafundo_add' %}"><i class="fa fa-chevron-right"></i>TF</a></li>
                                        <li><a href="{% url 'material:tintaintermediaria_add' %}"><i class="fa fa-chevron-right"></i>TI</a></li>
                                        <li><a href="{% url 'material:tintaacabamento_add' %}"><i class="fa fa-chevron-right"></i>TA</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- ENDropdown -->
                          <!-- Dropdown-->
                          <li  id="dropdown">
                              <a data-toggle="collapse" href="#dropdown-lvl1">
                                  <i class="fa fa-paint-brush"></i>Canteiro de Jato
                                <span class="caret"></span>
                            </a>
                              <!-- Dropdown level 1 -->
                              <div id="dropdown-lvl1" class="panel-collapse collapse">
                                  <div class="panel-body">
                                      <ul class="nav navbar-nav">
                                          <li><a href="{% url 'romaneio:romaneio_list' %}"><i class="fa fa-chevron-right"></i>Romaneios</a></li>
                                          <li><a href="{% url 'material:material_list' %}"><i class="fa fa-chevron-right"></i>Materiais</a></li>
                                          <li><a href="{% url 'qualidade:relatorios_list' %}"><i class="fa fa-chevron-right"></i>Controle de qualidade</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </li>
                          <!-- ENDropdown -->
                          <!-- Dropdown2-->
                          <li  id="dropdown2">
                            <a data-toggle="collapse" href="#dropdown-lvl2">
                                <i class="fa fa-industry"></i>Produção
                              <span class="caret"></span>
                          </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-lvl2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="{% url 'qualidade:check_list' %}"><i class="fa fa-chevron-right"></i>Check-List</a></li>
                                        <li><a href="#"><i class="fa fa-chevron-right"></i>RDO</a></li>                        
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- ENDropdown -->
                        <!-- Dropdown3-->
                        <li  id="dropdown3">
                            <a data-toggle="collapse" href="#dropdown-lvl3">
                                <i class="fa fa-money"></i>Financeiro
                              <span class="caret"></span>
                          </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-lvl3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="#"><i class="fa fa-chevron-right"></i>BMF</a></li>
                                        <li><a href="#"><i class="fa fa-chevron-right"></i>DMS</a></li>
                                        <li><a href="#"><i class="fa fa-chevron-right"></i>FRS</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- ENDropdown -->
                     
                          <li><a href="{% url 'core:dash_jato' %}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                          
                          <li><a href="#"><i class="fa fa-heart"></i>Segurança</a></li>
                          <!-- Dropdown4-->
                        <li  id="dropdown4">
                            <a data-toggle="collapse" href="#dropdown-lvl4">
                                <i class="fa fa-upload"></i>Importações
                              <span class="caret"></span>
                          </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-lvl4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="{% url 'romaneio:import_csv' %}"><i class="fa fa-chevron-right"></i>Romaneio</a></li>
                                        <li><a href="{% url 'material:import_csv_material' %}"><i class="fa fa-chevron-right"></i>Materiais</a></li>
                                        <li><a href="#"><i class="fa fa-chevron-right"></i>FRS</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- ENDropdown -->
                        <li><a href="/auth/update/"><i class="fa fa-key"></i>Alterar senha</a></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Sair</a></li>
                      </ul>
                  </div><!-- /.navbar-collapse -->
              </nav>  
      </div>
      <!--main content wrapper-->
            {% endif %}
      <div class="mcw">
        
        {% block content %}   {% endblock content %}
      </div>
      
    </div>    

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
      $(document).ready(function(){
          $('#msbo').on('click', function(){
          $('body').toggleClass('msb-x');
      });
              
  
      });
      </script>
    {% block js %}   {% endblock js %}
  </body>
</html>
