{% extends "base.html" %}
{% block content %} 

<div class="row">
    <div class="col-sm-12">
    <div class="card bg-dark text-light">
      <div class="card-header">
        Bem vindo(a), {{ user.username }}
      </div>
      {% if user.is_authenticated %}
      <div class="card-body">
        <h5 class="card-title">Simple Task 1.0v</h5>
        <p class="card-text">Sistema de gestão e controle de recursos da obra</p>
      
      </div>
      {% endif %}
    </div>
    </div>


{% endblock %} 
{% block js %} 
<script>
    $(document).ready(function(){
        $('body').addClass('fundo')
    });
    </script>
{% endblock js %}
