{% extends "base.html" %}

{% block content %}  
    <div class="jumbotron">
        <div class="container">
            <h1>Jet Flow</h1>
            <p>Sistema em desenvolvimento para gestão de canteiro de jateamento e pintura</p>
            <p><a href="https://github.com/johnnywendell/jetflow">Clique aqui para acessar o projeto</a>
            </p>
        </div>
    </div>


{% endblock content %}

{% block js %}   
<script>
$(document).ready(function(){
    $('body').addClass('fundo')
});
</script>
{% endblock js %}