{% extends "base.html" %}

{% block content %}  
{% include "includes/nav_login.html" %} 
    <div class="row text-light">
        <div class="col-md-4 offset-md-4">
            <h2 class="text-center" style="margin:30px;">Atualizar Senha</h2>
            <form method="post" action="#">
                {% csrf_token %} 
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password"  class="form-control" name="password" />
                  <label class="form-label" for="form2Example2">Senha</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Atualizar</button>
              
              </form>
        </div>
    </div>
{% endblock content %}
{% block js %}   
<script>
$(document).ready(function(){
    $('body').addClass('fundo')
});
</script>
{% endblock js %}
