{% extends "base.html" %}

{% block content %}  
{% include "includes/nav_login.html" %} 
    <div class="row text-light">
        <div class="col-md-4 offset-md-4">
            <h2 class="text-center" style="margin:30px;">Login</h2>
            <form method="post">
                {% csrf_token %}
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input  class="form-control" name="username" />
                  <label class="form-label" for="form2Example1">Username</label>
                </div>
              
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password"  class="form-control" name="password" />
                  <label class="form-label" for="form2Example2">Password</label>
                </div>
              
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                      <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                  </div>
              
                  <div class="col">
                    <!-- Simple link -->
                    <a href="{% url 'cadastro' %}">Cadastrar</a>
                  </div>
                </div>
              
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>
              
              </form>
        </div>
    </div>

{% endblock content %}

{% block js %}   
<script>
$(document).ready(function(){
    $('body').addClass('fundo')
});
</script>
{% endblock js %}
