{% extends "base.html" %}


{% block content %} 
<a href="{% url 'material:equipamento_list'  %}">voltar</a>

    <h1> {{ object.equipamento }}
        <td>
            {% if object.concluido %}
              <i class="fa fa-check-circle ok"></i>
            {% else %}
              <i class="fa fa-minus-circle no"></i>
            {% endif %}
        </td>
        <span class="pull-right">
            <a href="{% url 'material:equipamento_edit' object.pk %}">
                <button type="button" class="btn btn-success">
                    <span class="fa fa-pencil"></span> Editar
                </button>
            </a>

        </span>
    </h1>

    <div class="col-sm-6">
        <table class="table table-user-information">
            <tbody>
                <tr>
                    <th class="text-right">Romaneio Nº:</th>
                    <td>
                        {{ object.n2_romaneio }}
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Tratamento da superfície:</th>
                    <td>{{ object.jato }}</td>
                </tr>
                <tr>
                    <th class="text-right">Tinta de Fundo (Primer):</th>
                    <td> {{ object.tf }}</td>
                </tr>
                <tr>
                    <th class="text-right">Tinta Intermediária:</th>
                    <td>{{ object.ti }}</td>
                </tr>
                <tr>
                    <th class="text-right">Tinta Acabamento:</th>
                    <td>{{ object.ta }}</td>
                </tr>
                <tr>
                    <th class="text-right">Raio:</th>
                    <td>{{ object.raio }}</td>
                </tr>
                <tr>
                    <th class="text-right">Largura :</th>
                    <td>{{ object.largura }}</td>
                </tr>
                <tr>
                    <th class="text-right">Altura:</th>
                    <td>{{ object.altura }}</td>
                </tr>
                <tr>
                    <th class="text-right">Quantidade:</th>
                    <td>{{ object.quantidade }}</td>
                </tr>
                <tr>
                    <th class="text-right">Comprimento:</th>
                    <td>{{ object.conprimento }}</td>
                </tr>
                <tr>
                    <th class="text-right">Lados:</th>
                    <td>{{ object.lados }}</td>
                </tr>
                <tr>
                    <th class="text-right">M2:</th>
                    <td>{{ object.resultado }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock content %} 