{% extends "base.html" %}
{% load qr_code %}

{% block content %} 

<a href="{% url 'material:material_list'  %}">voltar</a>

    <h1> {{ object.material }}
        <td>
            {% if object.concluido %}
              <i class="fa fa-check-circle ok"></i>
            {% else %}
              <i class="fa fa-minus-circle no"></i>
            {% endif %}
        </td>
        <span class="pull-right">
            <a href="{% url 'material:material_edit' object.pk %}">
                <button type="button" class="btn btn-success">
                    <span class="fa fa-pencil"></span> Editar
                </button>
            </a>

        </span>
	</span>
        <span class="pull-right">
            <a href="{% url 'material:render_pdf_view' object.pk %}">
                <button type="button" class="btn btn-info">
                    <span class="fa fa-pencil"></span> Imprimir
                </button>
            </a>
        </span>
    </h1>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-user-information">
            <tbody>
                <tr>
                    <th class="text-right">Romaneio Nº:</th>
                    <td>
                        {{ object.n_romaneio }}
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Tratamento da superfície:</th>
                    <td>{{ object.jato }}</td>
                </tr>
                <tr>
                    <th class="text-right">Tinta de Fundo (Primer):</th>
                    <td> {{ object.tf }}</td>
                </tr>
                <tr>
                    <th class="text-right">Tinta Intermediária:</th>
                    <td>{{ object.ti }}</td>
                </tr>
                <tr>
                    <th class="text-right">Tinta Acabamento:</th>
                    <td>{{ object.ta }}</td>
                </tr>
                <tr>
                    <th class="text-right">Cor:</th>
                    <td>{{ object.cor }}</td>
                </tr>
                <tr>
                    <th class="text-right">Tipo Material:</th>
                    <td>{{ object.material }}</td>
                </tr>
                <tr>
                    <th class="text-right">Descrição Material:</th>
                    <td>{{ object.descricao }}</td>
                </tr>
                <tr>
                    <th class="text-right">Polegada:</th>
                    <td>{{ object.polegada }}</td>
                </tr>
                <tr>
                    <th class="text-right">M linear / Quantidade:</th>
                    <td>{{ object.m_quantidade }}</td>
                </tr>
                <tr>
                    <th class="text-right">M²:</th>
                    <td>{{ object.m2 }}</td>
                </tr>
                <tr>
                    <th class="text-right">Raio:</th>
                    <td>{{ object.raio }}</td>
                </tr>
                <tr>
                    <th class="text-right">Largura:</th>
                    <td>{{ object.largura }}</td>
                </tr>
                <tr>
                    <th class="text-right">Altura:</th>
                    <td>{{ object.altura }}</td>
                </tr>
                <tr>
                    <th class="text-right">Comprimento/lados:</th>
                    <td>{{ object.comprimento }}</td>
                </tr>
                <tr>
                    <th class="text-right">QTD:</th>
                    <td>{{ object.lados }}</td>
                </tr>
                <tr>
                    <th class="text-right">Relatorio:</th>
                    <td><a href="/qualidade/{{ object.relatorio }}">RIP nº{{ object.relatorio }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <div class="d-flex justify-content-center " >
            {% qr_from_text link size="M" %}
        </div>
        <div class="d-flex justify-content-center " >
            <h5>QR CODE - IDPÇ </h5>
        </div>        
        
        
    </div>

</div>
{% endblock content %} 
