{% extends "base.html" %}


{% block content %} 
    <div class="page-header">
        <h2><i class="fa fa-user"></i> Materiais
            <span class="pull-right">
                <div style="display: flex;">
                <a href="{% url 'material:material_add' %}">
                    <button type="button" class="btn btn-primary">
                        <span class="fa fa-plus"></span>Adicionar
                    </button>
                </a>
                <a href="{% url 'material:export_xlsx_func_material' %}">
                    <button type="button" class="btn btn-info">
                        <span class="fa fa-plus"></span>Exportar Materiais
                    </button>
                </a>
                </div>
            </span>
        </h2>

        {% if objects_list %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nº Romaneio</th>
                    <th>TF</th>
                    <th>TI</th>
                    <th>TA</th>
                    <th>Tipo Mat.</th>
                    <th>M²</th>
                    <th>Descrição/Tag</th>
                    <th><i class="fa fa-check-circle"></i></th>
                </tr>
            </thead>
            <form method="POST" novalidate>
                {% csrf_token %}
            <tbody>
                {% for object in objects_list %}
                <tr>
                    <td>{{ object.n_romaneio }}</td>
                    <td>{{ object.tf }}</td>
                    <td>{{ object.ti }}</td>
                    <td>{{ object.ta}}</td>
                    <td><a href="{{ object.get_absolute_url }}">{{ object.material }}</a></td>
                    <td>{{ object.m2 }}</td>
                    <td>{{ object.descricao }}</td>
                    <td>{% if object.concluido %}
                        <i class="fa fa-check-circle ok"></i>
                      {% else %}
                        <label class="control control--checkbox">
                        <input type="checkbox" name="acceptRules" class="inline checkbox checkclass" id="checkbox-{{ object.pk }}" value="False"/>
                      </label></td>
                      {% endif %}
                </tr>
                 
                {% endfor %}
            </tbody>
        </table>
        <span class="pull-right">
            <div style="display: flex;">
           
                <button type="submit" class="btn btn-dark float-right">
                    <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
                </button>
           
            </div>
            <input hidden name="valores" id="valores">
        </span>
            </form> 
        {% else %}
        <p class="alert alert-warning">Sem Itens na Lista </p>
        {% endif %}
    </div>
    {% include "includes/pagination.html" %}

        
{% endblock content %} 
{% block js %}

<script>

    $(".checkclass").on('change', function() {
        if ($(this).is(':checked')) {
            valor = $(this).attr('id').replace('checkbox-','')
        $(this).attr('value', valor);
    }   else {
        $(this).attr('value', 'False');
    }
    });
    $(document).on('change', '.checkclass', function(){
            var txt = "";
            $('.checkclass').each(function(){
                txt += $(this).val()+"," ;
                txt = txt.replace('.','');
            });
            $('#valores').val(txt);
        });

</script>

{% endblock js %}
