{% extends "base.html" %}


{% block content %} 

    <div class="page-header">
        <h2><i class="fa fa-user"></i> Materiais
            <span class="pull-right">
                <a href="{% url 'material:material_add' %}">
                    <button type="button" class="btn btn-primary">
                        <span class="fa fa-plus"></span>Adicionar
                    </button>
                </a>
            </span>
        </h2>

        {% if objects_list %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fechado</th>
                    <th>Nº Romaneio</th>
                    <th>Tratamento</th>
                    <th>TF</th>
                    <th>TI</th>
                    <th>TA</th>
                    <th>Tipo Mat.</th>
                    <th>M²</th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects_list %}
                <tr>
                    <td>
                        {% if object.concluido %}
                          <i class="fa fa-check-circle ok"></i>
                        {% else %}
                          <i class="fa fa-minus-circle no"></i>
                        {% endif %}
                    </td>
                    <td>{{ object.n_romaneio }}</td>
                    <td>{{ object.jato }}</td>
                    <td>{{ object.tf }}</td>
                    <td>{{ object.ti }}</td>
                    <td>{{ object.ta}}</td>
                    <td><a href="{{ object.get_absolute_url }}">{{ object.material }}</a></td>
                    <td>{{ object.m2 }}</td>
                </tr>
                 
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="alert alert-warning">Sem Itens na Lista </p>
        {% endif %}
    </div>
    {% include "includes/pagination.html" %}

        
{% endblock content %} 